In [14]:
import pandas as pd

# Read the first CSV file
df1 = pd.read_csv('datacenters_with_years.csv')

# Read the second CSV file
df2 = pd.read_csv('dataMissingYears.csv')

In [15]:
df2.head()

              Street Address Year Built
0    50 Northeast 9th Street       2001
1    50 Northeast 9th Street       2001
2    50 Northeast 9th Street       2001
3     1200 North 40th Street       2023
4  2800 South Ashland Avenue       1998

In [16]:
df1.head()

,Company Name,Location Name,Address,Latitude,Longitude,Street Address,City,State,Country,Year Built
0,Equinix,NY4 Secaucus Data Center,"755 Secaucus Road, Secaucus, NJ, USA",40.776428,-74.069776,755 Secaucus Road,Secaucus,NJ,USA,2001
1,QTS Data Centers,Richmond Data Center,"6000 Technology Boulevard, Sandston, VA, USA",37.488827,-77.247490,6000 Technology Boulevard,Sandston,VA,USA,1998
2,Equinix,MI1 Miami Data Center,"50 Northeast 9th Street, Miami, FL, USA",25.782576,-80.192770,50 Northeast 9th Street,Miami,FL,USA,Not Available
3,Equinix,MI1 Miami Data Center,"50 Northeast 9th Street, Miami, FL, USA",25.782576,-80.192770,50 Northeast 9th Street,Miami,FL,USA,Not Available
4,Equinix,MI1 Miami Data Center,"50 Northeast 9th Street, Miami, FL, USA",25.782576,-80.192770,50 Northeast 9th Street,Miami,FL,USA,Not Available

In [12]:
# Rename columns in df2 for clarity
df2.columns = ['Street Address', 'Year Built']

# Merge df1 and df2 on 'Street Address'
df1 = df1.merge(df2, on='Street Address', how='left')

# Update the 'Year Built' column in df1 with the values from the merged dataframe
df1['Year Built'] = df1['Year Built_x']
df1.drop(columns=['Year Built_y'], inplace=True)

df1.head()

MergeError: Passing 'suffixes' which cause duplicate columns {'Year Built_x'} is not allowed.

In [13]:
df1.to_csv('datacenters_with_moreyears.csv', index=False)