In [1]:
import pandas as pd

# Read the first CSV file
df1 = pd.read_csv('datacenters_with_add.csv')

# Read the second CSV file
df2 = pd.read_csv('datacentersYears.csv')

In [2]:
# Rename columns in df2 for clarity
df2.columns = ['Street Address', 'Year Built']

# Merge df1 and df2 on 'Street Address'
df1 = df1.merge(df2, on='Street Address', how='left')

# Update the 'Year Built' column in df1 with the values from the merged dataframe
df1['Year Built'] = df1['Year Built_y']
df1.drop(columns=['Year Built_y'], inplace=True)

# Display the updated dataframe
print(df1)

          Company Name              Location Name  \
0              Equinix   NY4 Secaucus Data Center
1     QTS Data Centers       Richmond Data Center
2              Equinix      MI1 Miami Data Center
3              Equinix      MI1 Miami Data Center
4              Equinix      MI1 Miami Data Center
...                ...                        ...
3147   Microsoft Azure                  Hillcrest
3148           Edgeuno    DAL1 Dallas Data Center
3149           Edgeuno  JFK1 New York Data Center
3150           Edgeuno     MIA1 Miami Data Center
3151           Edgeuno     MIA1 Miami Data Center

                                                Address   Latitude  Longitude  \
0                  755 Secaucus Road, Secaucus, NJ, USA  40.776428 -74.069776
1          6000 Technology Boulevard, Sandston, VA, USA  37.488827 -77.247490
2               50 Northeast 9th Street, Miami, FL, USA  25.782576 -80.192770
3               50 Northeast 9th Street, Miami, FL, USA  25.782576 -80.192770
4               50 Northeast 9th Street, Miami, FL, USA  25.782576 -80.192770
...                                                 ...        ...        ...
3147                    South Hill, Virginia 23970, USA  36.726545 -78.129131
3148  1990 North Stemmons Freeway, Dallas, Texas 752...  32.799312 -96.821060
3149              60 Hudson St, New York, NY 10013, USA  40.717641 -74.008275
3150            50 NE 9th St, Miami, Florida 33132, USA  25.782576 -80.192770
3151            50 NE 9th St, Miami, Florida 33132, USA  25.782576 -80.192770

                   Street Address            City          State Country  \
0               755 Secaucus Road        Secaucus             NJ     USA
1       6000 Technology Boulevard        Sandston             VA     USA
2         50 Northeast 9th Street           Miami             FL     USA
3         50 Northeast 9th Street           Miami             FL     USA
4         50 Northeast 9th Street           Miami             FL     USA
...                           ...             ...            ...     ...
3147                   South Hill  Virginia 23970            USA     NaN
3148  1990 North Stemmons Freeway          Dallas    Texas 75207     USA
3149                 60 Hudson St        New York       NY 10013     USA
3150                 50 NE 9th St           Miami  Florida 33132     USA
3151                 50 NE 9th St           Miami  Florida 33132     USA

      Year Built_x     Year Built
0              NaN           2001
1              NaN           1998
2              NaN  Not Available
3              NaN  Not Available
4              NaN  Not Available
...            ...            ...
3147           NaN            NaN
3148           NaN            NaN
3149           NaN           1930
3150           NaN           2001
3151           NaN           2001

[3152 rows x 11 columns]

In [4]:
df1.to_csv('datacenters_with_years.csv', index=False)